

body {
  font-family: Arial, sans-serif;
  background-color: #fffefe;
  color: #333;
  margin: 0;
  padding: 0;
}
header, nav, footer {
  background-color: #770303;
  color: white;
  padding: 10px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
